@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans:ital@1&display=swap');
* {
    box-sizing: border-box;
}
main {
    margin-bottom: 2rem;
}
.custom-button {
    display: none;
}
/*****  FORM  *****/
.form {
    margin: auto; 
    width: 100%;
    max-width: 26.25rem;
    padding: 0.938rem; 
    margin-bottom: 3rem;
    display: block; 
    text-align: left;
}
.form-group {
    position: relative; 
    margin-bottom: 1rem;
}
.form-group > label > input {
    height: 3.125rem; 
    padding: .75rem;
    width: 100%; 
    border-radius: .25rem;
    border: 1px solid #ced4da; 
    overflow: visible;
    margin-top: .5rem;
}
.form-group > label > textarea {
    width: 100%; 
    border-radius: .25rem;
    border: 1px solid #ced4da; 
    max-width: 24.349rem;
    padding: .75rem; 
    margin-top: .5rem;
}
.form-group > label { 
    display: block;
}
/*****  CONTACT PAGE  *****/
.contact-title, .contact-email {
    margin: auto; 
    width: 100%;
    max-width: 26.25rem; 
    padding: .75rem;
    text-align: center;
}
.contact-title > h2 {
    margin-top: 0rem; 
    font-family: 'Crimson Text', serif;
}
.contact-text{
    margin: auto; 
    width: 100%;
    text-align: center;
    padding: .75rem;
}
.contact-text > h4, .contact-email > h3 {
    margin-top: 0;
    font-weight: 600 !important; 
    font-size: 1.1rem !important; 
    font-family: initial !important;
}
button { 
    height: 3rem; 
    border: 1px solid white; 
    background-color: inherit; 
    cursor: pointer;
    border-radius: .25rem;
}
.form-group > div {
    display: block;
}
.custom-width {
    width: 30%;
}
/*****  INDEX PAGE AND PHOTOGRAPHY PAGE  *****/
.index-f div, .index-s div  {
    flex: 50%;
}
.index-f {
    margin-bottom: 9.5rem; 
    width: 100%;
}
.index-f, .index-s {
    position: sticky; 
    top: 1.45rem; 
    align-self: flex-start;
}
.index-s {
   background-color: white; 
   height: 29.3rem;
   width: 100%;
}
.photo-info > div {
    padding-top: 3rem;
}
.code-info, .photo-info {
    margin-top: 4rem;
}

.code-info ul, .photo-info > ul {
    list-style-type: none; 
    padding: 1rem;
}
.code-info ul > li:nth-child(1), .photo-info > ul > li:nth-child(1) {
    text-align: center; 
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem; 
    font-weight: bold;
}
.code-info ul > li:nth-child(2), .photo-info > ul > li:nth-child(2) {
    text-align: center; 
    font-family: 'Crimson Text', serif;
    font-size: 1.15rem; 
    margin-top: 4rem;
}
.photos-container, .index-f, .index-s {
    display: flex; 
    flex-wrap: wrap; 
    padding: 0rem 1rem;
}
.index-f {
    margin-top: 1.5rem;
}
.column {
    flex: 50%; 
    max-width: 50%;
    padding: 0 .30rem;
}
.column > div {
    margin-top: .5rem; 
    vertical-align: middle;
    width: 100%;
}
/*****  404 PAGE  *****/
.error-container { 
    max-width: 26.25rem; 
    margin: 0 auto;
    padding: 1rem; 
    height: 20rem;
    text-align: center;
}
.error-container > p { 
    margin-top: 3rem; 
    margin-bottom: 3rem;
    font-size: 1.5rem;
}
.error-container > div > a {
    color: #212322; 
    margin: 0;
    font-size: 1.25rem;
}
.error-container > div {
    text-align: left; 
    padding: 1rem;
}
/*****  BUTTON TO TOP  *****/
.transition {
    right: 20px;
}
.custom-button > img{
    height: 2.5rem; 
    width: 2.5rem; 
    position: relative; 
    top: 0rem;
}
/*****  ABOUT PAGE  *****/
.about-info {
    padding: .5rem;
}
.about-info > ul {
    padding: unset;
}
.about-info > ul > li:nth-of-type(3) {
    padding: 1rem;
}
.about-info > ul > li {
    margin-top: 1rem; 
    font-family: "Crimson Text", serif;
    font-size: 1.1rem; 
    color: #363a38;
}
.about-info > ul, .code-list {
    list-style-type: none;
}
.about-info > ul >li:nth-child(1), .about-info > ul >li:nth-child(2) {
    font-weight: bold;
}
.about-info > ul >li:nth-child(4) {
    text-align: center;
    padding-left: unset;
    font-weight: bold;
}
.about-info > ul >li:nth-child(5), .about-info > ul >li:nth-child(7), .about-info > ul >li:nth-child(9), .about-info > ul > li:nth-child(11){
    font-weight: bold;
    padding-left: 1rem;
}
.about-info > ul >li:nth-child(6),.about-info > ul >li:nth-child(8),.about-info > ul >li:nth-child(10), .about-info > ul >li:nth-child(12){
    padding-left: 3rem;
}
.about-info > ul > li:nth-child(1) {
    font-size: 2rem; 
    text-align: center;
}
.about-info > ul > li:nth-child(2) {
    text-align: center; 
    font-size: 1.5rem;
}
/*****  CODE PAGE  *****/
.code-list >li {
    margin-bottom: 1.5rem;
}
.code-list >li:nth-child(odd) {
    font-weight: 700;
}
.column-code { 
    flex: 100%; 
    max-width: 100%;
    padding: 0 .30rem;
}
[data-rmiz-wrap=visible] {
    display: block !important;
}

@media (min-width: 375px) {
    .about-info > ul >li:nth-child(6),.about-info > ul >li:nth-child(8),.about-info > ul >li:nth-child(10), .about-info > ul >li:nth-child(12){
        padding: 0rem 2rem 0rem 2rem;    
    }
}
@media (min-width: 768px) {
    .column-code {
        flex: 50%;
        max-width: 50%;
    }
    .custom-button {
        display: block;
        position: fixed;
        right: -100px;
        bottom: 6rem;
        transition: right 0.5s;
        cursor: pointer;
        background-color: rgba(50, 50, 50, 0.5);
        font-size: 20px;
        padding: 10px;
        height: 3.625rem;
        width: 3.625rem;
    }
    .transition {
        right: 20px;
    }
    .custom-button > img {
        height: 2.5rem; 
        width: 2.5rem; 
        position: relative; 
        top: 0rem;
    }
}

@media (min-width: 1024px) {
    .column {
        flex: 25% 1;
        max-width: 25%;
    }
}