@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans:ital@1&display=swap');
* {
    box-sizing: border-box;
}
/*****  MEDIA QUERYS  *****/
@media only screen and (max-width:768px) {
    .links a, .logos{display: none;}
    .titleBox.titleBoxAtSeven{
        margin: 0 ; display: inline-block; 
        width: 50%;
    }
    .bm-menu > .bm-item-list > .links > a, .bm-menu > .bm-item-list .logos {display: inline-block !important;}
    .links.linksAtSeven button{display: block; width: 100%;}
    .headerTitle.headerTitleAtSeven{font-size: 1.5rem;}
    .menuH{margin-bottom: 2rem; padding-top: 1.45rem;}
    .headerC.headerAtSeven {text-align: unset; position: sticky; top:0; z-index: 1;}
    .customButton.customButtonAtSeven{display: none;}
    .links.linksAtSeven{padding: 0rem 2rem 0rem 0rem;}
    .svg{float: right;}
    .bm-burger-button {display: block !important;}
}
@media only screen and (min-width:425px) and (max-width:767px){
    .titleBox.titleBoxAtFour{width: 75%; padding: .2rem;}
    .column.columnAtFour{
        flex: 50%;
        max-width: 50%;
    }
    .contactText{padding: 0rem 1.5rem 0rem 1.5rem;}
    .headerTitle.headerTitleAtFour{font-size: 1.25rem; margin-top: 1.5rem;}
    .headerC.headerAtFour{height: 4rem;}
    .aboutInfo.aboutInfoAtFour > ul {padding-left: 0rem;}
    .aboutInfo.aboutInfoAtFour{margin-top: 3rem;}
    .indexF.indexFAtFour, .indexS.indexSAtFour{display: inline-block;}
    .indexF.indexAtFour{margin-bottom: 0rem; top: 5.45rem;}
    .photoInfo.photoInfoAtFour{margin-top: 0rem;}
    .indexS.indexSAtFour{
        height: 38rem; margin-bottom: 2rem; 
        top: 0rem; margin-top: .6rem;
    }
}
@media only screen and (min-width: 375px) and (max-width:410px) {
    .headerC.headerAtFour{height: 4rem;}
    .headerTitle.headerTitleAtTh{font-size: 1.25rem; margin-top: 1.5rem;}
    .titleBox.titleBoxAtThree{width: 75%; padding: .2rem;}
    .indexS.indexSAtThree, .indexF.indexFAtThree{display: inline-block;}
    .indexS.indexSAtThree{
        height: 26rem; margin-bottom: 2rem; 
        top: 0rem; margin-top: .6rem;
    }
    .indexF.indexFAtThree{top:5.45rem;}
}
@media only screen and (min-width: 411px) and (max-width: 424px){
    .indexS.indexSAtEleven{
        height: 33rem; margin-bottom: 2rem; 
        top: 0rem;
    }
    .indexS.indexSAtThree, .indexF.indexFAtThree{display: inline-block;}
    .indexF.indexFAtEleven{top: 7.5rem;}
    .titleBox.titleBoxAtFour{width: 75%; padding: .2rem;}
    .headerC.headerAtFour{height: 4.2rem; margin-bottom: 0rem;}
    .headerTitle.headerTitleAtFour{font-size: 1.25rem; margin-top: 1.5rem;}

}
@media only screen and (min-width: 375px) and (min-height: 812px) {
        .indexF.indexFAtFour{
            margin-bottom: 7rem; margin-top: 2.5rem;
            top: 7.5rem;
        }
        .indexS.indexSAtFour{height: 40rem;}
        .indexS.indexSAtFour .imageRight{margin-top: 4rem;}
}
@media only screen and (min-width: 1280px){
    .indexF{
        margin-bottom: 13.5rem !important; margin-top: 4rem !important;
    }
    .indexF, .indexS {top: 4rem !important;}
    .indexS{height: 38.5rem !important;}

}
@media only screen and (min-width: 1366px){
    .indexF{margin-bottom: 9.8rem !important;}
    .indexS{height: 36.5rem !important;}
}
@media only screen and (min-width: 1440px){
    .indexF{margin-bottom: 15.5rem !important; margin-top: 5rem !important;}
    .indexS{height: 45rem !important;}
}
@media only screen and (min-width: 1197px) and (max-width: 1279px){
    .indexF{margin-bottom: 3.5rem !important;}
    .indexS{height: 26.5rem !important;}
}
/*@media only screen and (max-width: 1024px){
    .indexF{margin-bottom: 8.7rem !important;}
    .indexF, .indexS {
        top: 1.45rem; 
    }
    .indexS{
        height: 28.5rem !important;
    }
}*/
.headerC{margin-bottom: 1.45rem;}
.headerTitle{margin: 0;}
.titleBox{padding: 1.45rem 1.0875rem}
body{margin: 0rem; width: 100%; height: auto;}
a{
    color: whitesmoke; margin: 1.5rem;
}
footer{
    color: #212322;
    padding: 3rem; margin-top: 1rem;
}
.links{
    padding-bottom: 1.5rem; display: inline-block; 
    padding-left: 5.5rem;
}
.links a{
    text-decoration: none; margin-left: 1.5rem; 
    margin-right: 0rem; font-family: 'Crimson Text', sans-serif;
}
.logos img{
    height: 1rem; width: 1rem;
}
.logos{float: right;}
.logos a{margin: 1rem;}
.links a:hover{text-decoration: underline;}
#nombreC{float: right;}
#inLogo{margin-right: 3rem;}
.headerTitle{font-family: 'Julius Sans One',sans-serif;}
.headerC{text-align: center;}

/*****  FORM  *****/
.form{
    margin: auto; width: 100%;
    max-width: 26.25rem;
    padding: 0.938rem; margin-bottom: 3rem;
    display: block; text-align: left;
}
.formGroup{
    position: relative; margin-bottom: 1rem;
}
.formGroup > label > input {
    height: 3.125rem; padding: .75rem;
    width: 100%; border-radius: .25rem;
    border: 1px solid #ced4da; overflow: visible;
    margin-top: .5rem;
}
.formGroup > label > textarea {
    width: 100%; border-radius: .25rem;
    border: 1px solid #ced4da; max-width: 24.349rem;
    padding: .75rem; margin-top: .5rem;
}
/*****  CONTACT PAGE  *****/
.contactTitle, .contactEmail{
    margin: auto; width: 100%;
     max-width: 26.25rem; padding: .75rem;
     text-align: center;
    }
.contactTitle > h2{
    margin-top: 0rem; font-family: 'Crimson Text', serif;
}
.contactText{
    margin: auto; width: 100%;
    max-width: 34rem; text-align: center;
}
.contactText > h4, .contactEmail > h3{margin-top: 0;}
button{ 
    height: 3rem; border: 1px solid #212322; 
    background-color: inherit; cursor: pointer;
    border-radius: .25rem;
}
button:hover{
    background-color: #212322; color: whitesmoke;
}
.links button { display: none;}
/*****  INDEX PAGE AND PHOTOGRAPHY PAGE  *****/
.indexF div, .indexS div  {flex: 50%;}
.imageLeft{padding: .5rem;}
.indexF{margin-bottom: 8.7rem;}
.indexF, .indexS {
    position: sticky; top: 1.45rem; 
    align-self: flex-start;
}
.indexS{
   background-color: white; height: 28.5rem;
}
.photoInfo > div {padding-top: 3rem;}
.codeInfo, .photoInfo{
    margin-top: 4rem;
}

.codeInfo ul, .photoInfo > ul {list-style-type: none; padding: 1rem;}
.codeInfo ul > li:nth-child(1), .photoInfo > ul > li:nth-child(1){
    text-align: center; font-family: 'Crimson Text', serif;
    font-size: 1.5rem; font-weight: bold;
}
.codeInfo ul > li:nth-child(2), .photoInfo > ul > li:nth-child(2){
    text-align: center; font-family: 'Crimson Text', serif;
    font-size: 1.15rem; margin-top: 4rem;
}
.photosContainer, .indexF, .indexS{
    display: flex; flex-wrap: wrap; 
    padding: 0rem 1rem;
}
.column{
    flex: 25%; max-width: 25%;
    padding: 0 .30rem;
}
.column > div {
    margin-top: .5rem; vertical-align: middle;
    width: 100%;
}
/*****  404 PAGE  *****/
.errorContainer{ 
    max-width: 26.25rem; margin: 0 auto;
    padding: 1rem; height: 20rem;
}
.errorContainer > p {margin-top: 3rem; margin-bottom: 3rem;}
.errorContainer > div > a {color: #212322; margin: 0;}
.errorContainer > div {text-align: left; padding: 1rem;}
/*****  MENU CONFIG  *****/
.bm-burger-button {
    display: none;
    float: right;
    width: 2.25rem;
    height: 2rem;
    left: 2.25rem;
    top: 1rem;
    position: absolute;
  }
  .bm-cross-button {
    height: 24px;
    width: 24px;
    display: none;
  } 
  .bm-cross {
    background: whitesmoke;
  }
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  .bm-menu {
    background: #212322;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
.bm-item {
    display: inline-block;
  }
.right .bm-burger-button {
    left: initial; right: 2.25rem;
}
/*****  BUTTON TO TOP  *****/
.customButton {
    position: fixed;
    right: -100px;
    bottom: 6rem;
    transition: right 0.5s;
    cursor: pointer;
    background-color: rgba(50, 50, 50, 0.5);
    font-size: 20px;
    padding: 10px;
    height: 3.625rem;
    width: 3.625rem;
  }
.transition {right: 20px;}
.customButton > img{height: 2.5rem; width: 2.5rem; position: relative; top: 0rem;}
/*****  ABOUT PAGE  *****/
.aboutInfo{max-width: 80%; margin: 0 auto; margin-top: 4.5rem;}
.aboutInfo > ul > li{
    margin-top: 2rem; font-family: "Crimson Text", serif;
    font-size: 1.1rem; color: #363a38;
}
.aboutInfo > ul {list-style-type: none;}
.aboutInfo > ul > li:nth-child(1), .aboutInfo > ul > li:nth-child(2), .aboutInfo > ul >li:nth-child(4), .aboutInfo > ul >li:nth-child(5), .aboutInfo > ul >li:nth-child(7), .aboutInfo > ul >li:nth-child(9), .aboutInfo > ul > li:nth-child(11){font-weight: bold;}
.aboutInfo > ul >li:nth-child(4),.aboutInfo > ul >li:nth-child(6),.aboutInfo > ul >li:nth-child(8),.aboutInfo > ul >li:nth-child(10){padding-left: .5rem;}
.aboutInfo > ul > li:nth-child(10) {margin-bottom: 4.5rem;}
.aboutInfo > ul > li:nth-child(1){font-size: 2rem; text-align: center;}
.aboutInfo > ul > li:nth-child(2){text-align: center; font-size: 1.5rem;}